@import "~bootstrap/scss/bootstrap"
body
    background: #121212 !important
    font-family: 'Roboto', sans-serif
    color: #fff

h2
    font-weight: bold
    font-size: 3em

// Scrollbar
$scroll-foreground-color: rgba(255, 255, 255, 0.3)
$scroll-background-color: transparent
$scroll-size: 8px

::-webkit-scrollbar
    width:  $scroll-size

::-webkit-scrollbar-thumb
    background: $scroll-foreground-color
    border-radius: $scroll-size * 2

::-webkit-scrollbar-track
    background: $scroll-background-color
    position: fixed
    right: 0
    height: 100vh
    top: 0
    z-index: 100
    margin-left: -$scroll-size
// End Scrollbar

#main-content
    padding-top: 80px
    color: #fff

.content-body
    padding: 20px 40px 100px
    @media (min-width: 900px)
        padding: 20px 80px

#menu-bar
    color: #fff
    background: #121212
    position: fixed
    left: 0
    top: 0
    height: 80px
    padding: 0 4em

#top-nav-menu
    height: 80px
    justify-content: start
    @media (max-width: 900px)
        display: none !important

#bottom-nav-menu-bar
    position: fixed
    bottom: 0
    z-index: 30
    background: linear-gradient(0deg, rgba(18, 18, 18, 100%) 60%, rgba(18, 18, 18, 0%) 100%)
    color: #fff !important
    height: 100px
    @media (min-width: 900px)
        display: none

#bottom-nav-menu
    height: 100px
    display: flex
    justify-content: space-evenly
    align-items: center

.nav-menu-link
    color: #fff !important
    text-decoration: none
    font-weight: regular
    text-align: center
    opacity: 70%
    @media (min-width: 900px)
        width: 110px
        opacity: 100%

.nav-menu-link:first-child
    @media (min-width: 900px)
        width: 140px

.nav-menu-link:last-child
    @media (min-width: 900px)
        width: 90px

.nav-menu-link.active, .nav-menu-link:hover
    color: #fff
    font-weight: bold
    opacity: 100% !important

.nav-menu-link:visited
    color: #fff

#social-menu
    color: white
    height: 80px
    justify-content: end
    @media (max-width: 900px)
        justify-content: space-around
    @media (max-width: 576px)
        justify-content: space-between

    .icon-image
        @media (min-width: 900px)
            margin: 0 25px

.icon-image
    height: auto
    width: 30px

.bottom-icon-image
    width: auto
    height: 30px

@mixin cinema-height
    height: (9/21) * 100vw

.full-width
    width: 100%

iframe.full-width
    @include cinema-height

.top-image
    @extend .full-width
    @include cinema-height
    object-fit: cover
    object-position: 50% 30%

.button-social
    border: 2px solid white
    border-radius: 10px
    color: #fff
    padding: 10px 25px
    margin-bottom: 30px

    @media (min-width: 400px)
        width: 350px
    
    span
        text-decoration: none !important
        text-align: center
        display: inline-block
        @media (min-width: 400px)
            width: 260px

.button-social:hover
    border-color: transparent
    background: #777
    span
        font-weight: bold

.button-social-icon
    width: 30px
    height: auto

#music-buttons-list
    display: flex
    flex-direction: column
    align-items: center
    padding-top: 30px
